.row {
  margin-left: 20px;
}
.row__posters {
  display: flex;

  /* scroll for the row */
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__posters::-webkit-scrollbar {
  /* hide the scroll from the row but functionality will be there */
  display: none;
}
.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  /* on hover for transaction will take this much of time */
  transition: transform 450ms;
}

.row__poster:hover {
  /* transaction */
  transform: scale(1.08);
}
.row__posterlarge {
  max-height: 250px;
}
.row__posterlarge:hover {
  transform: scale(1.09);
}
